.nav-link{
    font-weight: 500;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.main-header .nav-link:hover{
    color: #fe3137;
    padding-bottom: 0px;
    border-bottom: 3px solid #fe3137;

}

.carousel-item > img {
    width: 100%;
    height: 92vh;
}
/* about us */

#aboutusHeading::before{
content: "";
width: 50px;
height: 2px;
background: var(--bs-primary);
display: inline-block;
margin: 0 15px 10px 0;
}
#aboutusHeading::after{
    content: "";
    width: 50px;
    height: 2px;
    background: var(--bs-primary);
    display: inline-block;
    margin: 0 0 10px 15px;
    }
/* news feed and academic */

#academiCards .card{
    /* margin: 0 10px 10px 0; */
   height: 200px;
    text-align: center;
}

.card-title{
    position: absolute;
    right:0;
    left: 0;
    bottom: 0;
}
.card > i{
    font-size: 4rem;
    margin-top: 2rem;
}
.media{
    padding: 0;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-blue { background-color:#00b5ec; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
/* .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); } */
.media-body{
    text-decoration: none;
}
/* IoT club Container */
#iotClubHeading{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
#iotClubHeading::before{
content: "";
width: 50px;
height: 2px;
background: var(--bs-primary);
display: inline-block;
margin: 0 15px 10px 0px;
}
#iotClubHeading::after{
    content: "";
    width: 50px;
    height: 2px;
    background: var(--bs-primary);
    display: inline-block;
    margin: 0px 0px 10px 15px;
}
#contactIntro{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#iotContainerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;
    margin-top: 2rem;
   
}
#iotContainerCards .card {
    margin-bottom: 2rem;

}
/* Contact Container */
#contactHeading{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
#contactHeading::before{
content: "";
width: 50px;
height: 2px;
background: var(--bs-primary);
display: inline-block;
margin: 0 15px 10px 0px;
}
#contactHeading::after{
    content: "";
    width: 50px;
    height: 2px;
    background: var(--bs-primary);
    display: inline-block;
    margin: 0px 0px 10px 15px;
}
#contactIntro{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.contactCards > .card{
    background: rgb(33, 37, 41,0.03);
    width: 300px;
    height: 200px;
    margin-bottom: 2rem;
    border-radius: 0;
    border: 0;
    text-align: left;
}

.formCard{
    background: rgb(33, 37, 41,0.03);
    width: 636px;
    height: 430px;
    border-radius: 0;
    border: 0;
    
}
.contactCards >.card > i{
    color: var(--bs-primary);
   margin-top: 1rem;
    padding-left: 2rem;
}

.contactCards p, h3{
    margin-bottom: 0px;
    text-align: left;
    padding-left: 2rem;
}
.contactForm input{
    box-shadow: none;
    border-radius: 0px;
}
textarea:focus{
    border-color:var(--bs-primary) ;
}
.footer-form{
    display: flex;
}
.footer-form > input{
    height: 3rem;
}
.footer-form > input:last-child{
    margin-left: -45px;
}
.footer-top{
    padding: 60px 30px 0px;
    color: black;
}
.footer-top a{
text-decoration: none;
color: rgba(0, 0, 0, 0.5);
}
.footer-top ul{
    list-style: none;
    padding-left: 0;
}
.footer-top li{
    padding: 5px;
}
.footer-top i{
    color: var(--bs-primary);
}